body{
	margin: 0;
	font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	min-width: 1100px;
	color: rgba(0,0,0,0.8);
	letter-spacing: .1px;
}

#sidebar{
	width: 225px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #f9f9f9;
	border-right: 1px solid rgba(0,0,0,0.05);
	box-sizing: border-box;
	padding-top: 25px;
}

#sidebar ul{
	padding: 0;
}

#sidebar ul li{
	list-style: none;
	padding: .5em 20px;
	margin: .5em 0;
}

#sidebar #repo-sidebar li.template{
	display: none;
}

#sidebar ul li:hover:not(.title){
	color: #0077f5;
}

#sidebar ul li.active{
	font-weight: bold;
	color: #0077f5;
}

#sidebar ul li.title{
	text-transform: uppercase;
	color: rgba(0,0,0,0.4);
	font-size: .8em;
}


#issue-list{
	left: 225px;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 340px;
	border-right: 1px solid rgba(0,0,0,0.1);
	box-sizing:border-box;
	overflow-y: scroll;
}

#issue-list #placeholder, #issue-contents #placeholder{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:#fafafa;
	z-index: 2;
	box-sizing: border-box;
	padding-top: 300px;
	line-height: 0;
	text-align: center;
	color: rgba(0,0,0,0.5);
}

#issue-list #placeholder.hide, #issue-contents #placeholder.hide{
	display: none;
}

#issue-list #search-box{
	position: fixed;
	top: 0;
	left: 225px;
	width: 339px;
}
#issue-list #search-box input{
	border: 0;
	width: 100%;
	font-family:'Roboto', sans-serif;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 1em 1.5em;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
}

#issue-list ul{
	padding: 0;
	margin: 0;
	padding-top: 41px;
}

#issue-list ul li.issue-box .issue-details{
	font-size: 12px;
	font-weight: 500;
}

#issue-list ul li.issue-box.template{
	display: none;
}

#issue-list ul li.issue-box{
	list-style: none;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 15px 25px;
}

#issue-list ul li.issue-box.active{
	background-color: #f4f9ff;
	color: #0077f5;
}

#issue-list ul li.issue-box .issue-status{
	display: inline-block;
	vertical-align: middle;
}

/*#issue-list ul li.issue-box .issue-status{
	display: inline-block;
	vertical-align: middle;
	font-size: .8em;
	border-radius: 3px;
	line-height: 1.5;
	padding: 0 5px;
}

#issue-list ul li.issue-box .issue-status[data-state=new]{
	background-color: #0077f5;
	color: #fff;
}

#issue-list ul li.issue-box .issue-status[data-state=open]{
	background-color: #6cc644;
}*/



#issue-list ul li.issue-box .issue-status span{
	display: inline-block;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	margin-left: 3px;
}

#issue-list ul li.issue-box .priority{
	width: 17px;
	height: 17px;
	background-size: 100%;
	vertical-align: middle;
	display: inline-block;

}

#issue-list ul li.issue-box .priority[data-priority=critical]{
	background-image: url(icons/angle-double-up.svg);
}

#issue-list ul li.issue-box .priority[data-priority=major]{
	background-image: url(icons/angle-up.svg);	
}

#issue-list ul li.issue-box .priority[data-priority=minor]{
	background-image: url(icons/angle-down.svg);
}

#issue-list ul li.issue-box .priority[data-priority=trivial]{
	background-image: url(icons/angle-double-down.svg);
}

#issue-list ul li.issue-box .priority[data-priority=blocker]{
	background-image: url(icons/angle-double-up.svg);
}


#issue-list ul li.issue-box .issue-id{
	vertical-align: middle;
}

#issue-list ul li.issue-box .issue-details .version-no, #issue-list ul li.issue-box .issue-details .issue-date{
	color:rgba(0,0,0,0.4);
	vertical-align: middle;
}

#issue-list ul li.issue-box .issue-details .issue-date{
	float: right;
}

#issue-list ul li.issue-box .issue-title{
	font-size:1.1em;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 6px 0;
}

#issue-list ul li.issue-box .issue-labels{
	margin: 10px 0;
}

#issue-list ul li.issue-box .issue-labels label{
	background-color: #f3f7fd;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	color: #c6d7ea;
	padding: 2px 4px;
	font-weight: 500;
	font-size: 11px;
}

#issue-list ul li.issue-box .issue-assignees{
	color: rgba(0,0,0,0.4);
	margin-top: 10px;
	font-size: 12px;
}

#issue-list ul li.issue-box .issue-assignees span.user{
	font-weight: 500;
	color: #000;
}

#issue-contents{
	position: fixed;
	left: 565px;
	top: 0;
	bottom: 0;
	right: 0;
	background-color:#fafafa;
}

#issue-contents #issue-contents-head{
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 1em 2.5em;
}

#issue-contents #issue-contents-head h1{
	font-weight: normal;
	font-size: 1.6em;
}

#issue-contents #issue-comments{
	margin: 2em 2.5em;
}

#issue-contents #issue-comments .issue-description{
	background-color: #fff;
	border: 1px solid #cce4fd;
	border-radius: 5px;
	padding: 1.5em;
}

#issue-contents #issue-comments .issue-description .issue-user{
	padding: 0 0 1em 0;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

#issue-contents #issue-comments .issue-description .issue-user img{
	vertical-align: middle;
	border-radius: 3px;
	overflow: hidden;
	margin-right: 3px;
}

#issue-contents #issue-comments .issue-description .issue-user .user-name{
	font-weight: bold;
	vertical-align: middle;
}

#issue-contents #issue-comments .issue-description .issue-user .posted-time{
	color: rgba(0,0,0,0.6);
	vertical-align: middle;
}